$blue: (
  900: #031633,
  800: #052c65,
  700: #084298,
  600: #0a58ca,
  500: #0d6efd,
  400: #3d8bfd,
  300: #6ea8fe,
  200: #bed8fe,
  100: #e5f0ff,
);

$indigo: (
  900: #140330,
  800: #290661,
  700: #3d0a91,
  600: #520dc2,
  500: #6f23eb,
  400: #8540f5,
  300: #a370f7,
  200: #ccaffa,
  100: #ece3fc,
);

$przn: (
  900: #000033,
  800: #000066,
  700: #000080,
  600: #3112CC,
  500: #6445FF,
  400: #7458FF,
  300: #927DFF,
  200: #EFECFF,
  100: #EFECFF,
);


$purple: (
  900: #160d27,
  800: #2c1a4d,
  700: #432874,
  600: #59359a,
  500: #6f42c1,
  400: #8c68cd,
  300: #a98eda,
  200: #c5b3e6,
  100: #e2d9f3,
);

$pink: (
  900: #2b0a1a,
  800: #561435,
  700: #801f4f,
  600: #ab296a,
  500: #d63384,
  400: #de5c9d,
  300: #e685b5,
  200: #efadce,
  100: #fae1ed,
);

$red: (
  900: #2c0b0e,
  800: #58151c,
  700: #842029,
  600: #b02a37,
  500: #dc3545,
  400: #e35d6a,
  300: #ea868f,
  200: #f1aeb5,
  100: #fadcdf,
);

$orange: (
  900: #331904,
  800: #653208,
  700: #984c0c,
  600: #ca6510,
  500: #fd7e14,
  400: #fd9843,
  300: #feb272,
  200: #fecba1,
  100: #ffe5d0,
);

$yellow: (
  900: #332701,
  800: #664d03,
  700: #997404,
  600: #cc9a06,
  500: #ffc107,
  400: #ffcd39,
  300: #ffda6a,
  200: #ffe69c,
  100: #fff3cd,
);

$green: (
  900: #051b11,
  800: #0a3622,
  700: #0f5132,
  600: #146c43,
  500: #17995d,
  400: #32b277,
  300: #6eb795,
  200: #a3cfbb,
  100: #d1e7dd,
);

$teal: (
  900: #06281e,
  800: #0d503c,
  700: #13795b,
  600: #1aa179,
  500: #20c997,
  400: #4dd4ac,
  300: #79dfc1,
  200: #a6e9d5,
  100: #d2f4ea,
);

$cyan: (
  900: #002430,
  800: #00435c,
  700: #006d94,
  600: #0087b8,
  500: #06a7e1,
  400: #23b6eb,
  300: #54cdf7,
  200: #bbe9fa,
  100: #dcf2fa,
);

$gray: (
  900: #212529,
  800: #363440,
  700: #4B4957,
  600: #6F6C7D,
  500: #B0ADBD,
  400: #D0CEDA,
  300: #DFDEE6,
  200: #EAE9EF,
  100: #F8F7FA,
);

$default: (
  "white": #ffffff,
  "black": #000000,
);

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "przn": $przn,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "gray": $gray,
  "default": $default,
);
