$typography: (
  default: (
    regular-56: (
      font-weight: 400,
      font-size: 56px,
      line-height: 56px,
      letter-spacing: 0,
    ),
    medium-56: (
      font-weight: 600,
      font-size: 56px,
      line-height: 56px,
      letter-spacing: 0,
    ),
    bold-56: (
      font-weight: 800,
      font-size: 56px,
      line-height: 56px,
      letter-spacing: 0,
    ),
    regular-40: (
      font-weight: 400,
      font-size: 40px,
      line-height: 56px,
      letter-spacing: 0,
    ),
    medium-40: (
      font-weight: 600,
      font-size: 40px,
      line-height: 56px,
      letter-spacing: 0,
    ),
    bold-40: (
      font-weight: 800,
      font-size: 40px,
      line-height: 56px,
      letter-spacing: 0,
    ),
    regular-32: (
      font-weight: 400,
      font-size: 32px,
      line-height: 40px,
      letter-spacing: 0,
    ),
    medium-32: (
      font-weight: 600,
      font-size: 32px,
      line-height: 40px,
      letter-spacing: 0,
    ),
    bold-32: (
      font-weight: 800,
      font-size: 32px,
      line-height: 40px,
      letter-spacing: 0,
    ),
    regular-28: (
      font-weight: 400,
      font-size: 28px,
      line-height: 36px,
      letter-spacing: 0,
    ),
    medium-28: (
      font-weight: 600,
      font-size: 28px,
      line-height: 36px,
      letter-spacing: 0,
    ),
    bold-28: (
      font-weight: 800,
      font-size: 28px,
      line-height: 36px,
      letter-spacing: 0,
    ),
    regular-24: (
      font-weight: 400,
      font-size: 24px,
      line-height: 32px,
      letter-spacing: 0,
    ),
    medium-24: (
      font-weight: 600,
      font-size: 24px,
      line-height: 32px,
      letter-spacing: 0,
    ),
    bold-24: (
      font-weight: 800,
      font-size: 24px,
      line-height: 32px,
      letter-spacing: 0,
    ),
    regular-20: (
      font-weight: 400,
      font-size: 20px,
      line-height: 32px,
      letter-spacing: 0,
    ),
    medium-20: (
      font-weight: 600,
      font-size: 20px,
      line-height: 32px,
      letter-spacing: 0,
    ),
    bold-20: (
      font-weight: 800,
      font-size: 20px,
      line-height: 32px,
      letter-spacing: 0,
    ),
    regular-18: (
      font-weight: 400,
      font-size: 18px,
      line-height: 28px,
      letter-spacing: 0,
    ),
    medium-18: (
      font-weight: 600,
      font-size: 18px,
      line-height: 28px,
      letter-spacing: 0,
    ),
    bold-18: (
      font-weight: 800,
      font-size: 18px,
      line-height: 28px,
      letter-spacing: 0,
    ),
    regular-16: (
      font-weight: 400,
      font-size: 16px,
      line-height: 28px,
      letter-spacing: 0,
    ),
    medium-16: (
      font-weight: 600,
      font-size: 16px,
      line-height: 28px,
      letter-spacing: 0,
    ),
    bold-16: (
      font-weight: 800,
      font-size: 16px,
      line-height: 28px,
      letter-spacing: 0,
    ),
    regular-14: (
      font-weight: 400,
      font-size: 14px,
      line-height: 24px,
      letter-spacing: 0,
    ),
    medium-14: (
      font-weight: 600,
      font-size: 14px,
      line-height: 24px,
      letter-spacing: 0,
    ),
    bold-14: (
      font-weight: 800,
      font-size: 14px,
      line-height: 24px,
      letter-spacing: 0,
    ),
    regular-12: (
      font-weight: 400,
      font-size: 12px,
      line-height: 16px,
      letter-spacing: 0,
    ),
    medium-12: (
      font-weight: 600,
      font-size: 12px,
      line-height: 16px,
      letter-spacing: 0,
    ),
    bold-12: (
      font-weight: 800,
      font-size: 12px,
      line-height: 16px,
      letter-spacing: 0,
    ),
    regular-11: (
      font-weight: 400,
      font-size: 11px,
      line-height: 16px,
      letter-spacing: 0,
    ),
    medium-11: (
      font-weight: 600,
      font-size: 11px,
      line-height: 16px,
      letter-spacing: 0,
    ),
    bold-11: (
      font-weight: 800,
      font-size: 11px,
      line-height: 16px,
      letter-spacing: 0,
    ),
  ),
);
