@use "../abstracts" as *;
@use "../tools" as *;

@mixin page-actions {
  @include flex($align: center);
  gap: space(3);

  padding: space(3) space(4);

  &__title {
    @include typography(bold-24);
    color: var(--palette-text-main-1);
  }

  &__text-field {
    width: 240px;
  }
}

%page-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: space(4);

  border-radius: radius(1.5);
  border: 1px solid var(--palette-outline-3);
  padding: space(4);

  background-color: var(--palette-bg-2);
}

@mixin page {
  @include flex($dir: column);
  gap: space(6);

  padding: space(4);

  &__header {
    @include flex($align: center);
    gap: space(3);
  }

  &__body {
    width: 100%;
  }

  &__title {
    @include typography(bold-18);
    color: var(--palette-text-main-1);
  }
}
