.fade-in {
  &-enter-active {
    animation: fade 0.2s forwards reverse;
  }

  &-leave-active {
    animation: fade 0.2s forwards;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.stretch {
  &-enter-active {
    animation: stretch 0.3s forwards;
  }

  &-leave-active {
    animation: stretch 0.3s forwards reverse;
  }
}

@keyframes stretch {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.list-move, /* apply transition to moving elements */
.list-enter-active {
  transition: all 0.5s ease;
}

.list-leave-active {
  display: none;
}

.list-enter-from {
  opacity: 0;
  transform: translateX(30px);
}
