@use "../abstracts" as *;
@use "../tools/spacing" as *;

#app {
  height: 100%;
  text-align: right;
  overflow: hidden;
  color: var(--palette-text-main-1);
}

html[lang="fa"] #app {
  font-family: $ff-primary;

  direction: rtl;
  text-align: right;
}

html[lang="en"] #app {
  font-family: $ff-secondary;
  direction: ltr;
  text-align: left;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;

  *::selection {
    background-color: var(--palette-primary);
    color: var(--palette-text-light);
  }
}
